%head
  -# %script{src: 'repos.js', type: 'text/javascript'}
  -# %link{:rel => :stylesheet, :type => :"text/css", :href => "repos.css"}
%body
  %h2 Classify!

  %h4 Tweets for #{@twitter_account}

  %p Logged in as #{@user}
