%link{:rel => :stylesheet, :type => :"text/css", :href => "login.css"}

%h2 (ノಠ益ಠ)ノ彡┻━┻  &nbsp;&nbsp;&nbsp;&nbsp; Bendyworkers Only! &nbsp;&nbsp;&nbsp;&nbsp; (づ｡◕‿‿◕｡)づ

%form{action: '/reauth', method: 'get', id: 'login-button-form'}
  %input{type: 'submit', value: 'Login With Github', id: 'login-button'}
